# Data collection

## Multiobjective portfolio optimization

### Antti Luopaj√§rvi

In [44]:
import pandas as pd

Portfolio optimization traditionally aims to select assets that bring the most return on investment with the least risk. However, for some investors, there are also other factors to consider in addition to direct financial gain. Technology has made stock investing more easily approachable than ever, and growing number of new investors search not only to get return on their money but also to invest in companies with sustainable business. The term _ESG-investing_ means buying in companies with their environmental, social, and governance strategies in consideration.

### 1. Data and data source

I have two types of data: 

1. Rankings on environmental,social and governance(ESG)- sustainability of companies.

2. "Traditional" financial data, such as historical market returns, stock symbols, beta-coefficients(measure the volatility of a stock).

Plan is to use type 1 data in objectives measuring level of sustainability of a stock. Type 2 data is used in objectives such as expected return on stock, dividends paid etc.

**Type 1 data is from three sources:** 

1. **Robecosam** ranks companies by ESG-scores, from 0 to 100. https://yearbook.robecosam.com/ranking/

2. **Clean200** ranks companies by their solutions for transition to clean energy future. No scores, company either is on the list or not. https://www.asyousow.org/report-page/2020-clean200

3. **ScienceBasedTargets** ranks companies by their science-based climate actions. No scores, company either is on the list or not. https://sciencebasedtargets.org/companies-taking-action/

In [45]:
df_robeco = pd.read_csv(r'..\data\robecosam.csv')

E.g. Robecosam's ranking data looks like this:

In [46]:
df_robeco.head()

              Company  ESG score
0   1&1 Drillisch AG           4
1             2U Inc           9
2       3i Group PLC          50
3          51job Inc           9
4         58.com Inc           6

**Type 2 data is from two sources**

1. Yahoo Finance.

2. Nasdaq.

In [47]:
df_sp500 = pd.read_csv(r'..\data\sp500.csv')

E.g. S&P 500 historical data looks like this:

In [48]:
df_sp500.head()

         Date       Open       High        Low      Close  Adj Close  Volume
0  1927-12-01  17.660000  17.660000  17.660000  17.660000  17.660000       0
1  1928-01-01  17.760000  17.760000  17.260000  17.570000  17.570000       0
2  1928-02-01  17.530001  17.629999  16.950001  17.260000  17.260000       0
3  1928-03-01  17.299999  19.280001  17.299999  19.280001  19.280001       0
4  1928-04-01  18.910000  19.750000  18.910000  19.750000  19.750000       0

### 2. Pre-processing

**Altogether, in the beginning I had data from six different sources.**

My plan is to combine information from multiple sources together. Thus far, I have done following:

1. I took the **Robecosam's** data as a "base" data, since it had most companies listed.

2. Went through **Clean200's** and **Sciencebasedtarget's** ratings and searched if a company occurs there or not.

3. If the company occured on **Sciencebasedtarget's** rating list, took also the country information out.

4. Went through Nasdaq's stock symbols list and searched for the companies there. If found, took the symbol out.

In [49]:
df_combined = pd.read_csv(r'../data/combined_data.csv')

In [50]:
df_combined.head()

,Unnamed: 0,Company,ESG score,Clean200,ScienceBasedTargets,Country,Symbol
0,0,1&1 Drillisch AG,4,0.0,0.0,na,na
1,1,2U Inc,9,0.0,0.0,na,na
2,2,3i Group PLC,50,0.0,0.0,na,na
3,3,51job Inc,9,0.0,0.0,na,na
4,4,58.com Inc,6,0.0,0.0,na,na

Next, I need to continue working on stock symbols, since I need them for acquiring beta-coefficients and dividend history on individual stocks.

All the data is openly available.

### 3. Challenges

1. All the data is not available to download in usable format (excel-file, csv).

2. Spelling of company names vary in different sources, especially acronyms e.g. ltd <-> limited.

3. Good list of stock symbols challenging to find.

### 4. Size of data

At the moment, 3198 instances (companies) with six attributes. 

- Attributes will increase from here with at least 2.

- Instances will decrease. My preliminary plan was to have around 200 companies.

Data can be updated, but at the moment I don't see reason for it, since most of my data is annual. 

 $\Rightarrow$ ESG-rating agencies publish their reports once a year, dividends are mostly paid annually or semi-annually etc.

### 5. Normalization

Normalization is needed at least for these pieces of data:

 1. **Robecosam's** rating is between 0 and 100, where as for other two it is either 0 or 1.
 
   $\Rightarrow$ Plan is to normalize Robecosam's scores between 0 and 1 as well.
   
 2. Dividends paid.
 
   $\Rightarrow$ Information is in local currency (USD, EUR), so they are not comparable. One solution could be using e.g. **dividend     yield**, which is 
   
   $\frac{\text{dividend paid}}{\text{share price}}$
   
   to escape the currency differences.